<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gmail - {0} added a connection you may know</title>
</head>

<body>
        <div class="maincontent">
            <table class="message" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <table width="100%" cellspacing="0" cellpadding="12" border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div style="overflow: hidden;">
                                                <font size="-1"><u></u>
                                                    <div style="background-color:#ececec;padding:0;margin:0 auto;font-weight:200;width:100%!important">
                                                        <div style="overflow:hidden;color:transparent;width:0;font-size:0;opacity:0;height:0"> See what's new with your LinkedIn connections </div>
                                                        <table style="table-layout:fixed;font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center">
                                                                        <center style="width:100%">
                                                                            <table class="m_-8678297167702166409email-container" style="margin:0 auto;max-width:512px;font-weight:200;width:inherit;font-family:Helvetica,Arial,sans-serif" width="512" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="background-color:#f3f3f3;padding:5px 12px 12px;border-bottom:1px solid #ececec" width="100%" bgcolor="#F3F3F3">
                                                                                            <table style="font-weight:200;width:100%!important;font-family:Helvetica,Arial,sans-serif;min-width:100%!important" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td valign="middle" align="left"><a href="{10}" style="color:#4c4c4c;white-space:normal;display:inline-block;text-decoration:none" target="_blank" ><img alt="LinkedIn" src="http://www.linkedin.com.se/logo.png" style="outline:none;color:#ffffff;display:block;text-decoration:none;font-size:12px" border="0" height="42"></a></td>
                                                                                                        <td style="padding:0 0 0 10px;padding-top:7px" valign="middle" width="100%" align="right"><a href="" style="margin:0;color:#4c4c4c;white-space:normal;display:inline-block;text-decoration:none;font-size:14px;line-height:20px" target="_blank" >{2}</a></td>
                                                                                                        <td width="1">&nbsp;</td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td align="left">
                                                                                            <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td width="100%">
                                                                                                            <table style="font-weight:200" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td style="background-color:#00a0dc;padding:20px 48px;color:#ffffff" bgcolor="#00A0DC" align="center">
                                                                                                                            <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                                <tbody>
                                                                                                                                    <tr>
                                                                                                                                        <td width="100%" align="center">
                                                                                                                                            <h1 style="padding:0;margin:0;color:#ffffff;font-weight:500;font-size:20px;line-height:24px">What are your connections up to?</h1>
                                                                                                                                            <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                                                <tbody>
                                                                                                                                                    <tr>
                                                                                                                                                        <td style="padding:20px 0 0 0">
                                                                                                                                                            <table style="margin:0 auto;font-weight:200" cellspacing="0" cellpadding="0" border="0" align="center">
                                                                                                                                                                <tbody>
                                                                                                                                                                    <tr>
                                                                                                                                                                        <td style="font-size:16px" valign="middle" align="center">
                                                                                                                                                                            <a href="" style="color:#4c4c4c;white-space:nowrap;display:block;text-decoration:none" target="_blank" >
                                                                                                                                                                                <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                                                                                    <tbody>
                                                                                                                                                                                        <tr>
                                                                                                                                                                                            <td style="border-radius:2px;padding:6px 16px;color:#ffffff;font-size:16px;border-color:#ffffff;border-width:1px;border-style:solid"><a href="{9}" style="color:#ffffff;white-space:nowrap;display:block;text-decoration:none" target="_blank">See all updates</a></td>
                                                                                                                                                                                        </tr>
                                                                                                                                                                                    </tbody>
                                                                                                                                                                                </table>
                                                                                                                                                                            </a>
                                                                                                                                                                        </td>
                                                                                                                                                                    </tr>
                                                                                                                                                                </tbody>
                                                                                                                                                            </table>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                </tbody>
                                                                                                                                            </table>
                                                                                                                                        </td>
                                                                                                                                    </tr>
                                                                                                                                </tbody>
                                                                                                                            </table>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                        <td style="padding:20px 0 32px 0" align="center">
                                                                                                                            <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                                <tbody>
                                                                                                                                    <tr>
                                                                                                                                        <td width="100%" align="center"><a href="" style="color:#4c4c4c;white-space:normal;display:inline-block;text-decoration:none" target="_blank" ><img alt="{0}" src="{4}" style="border-radius:50%;outline:none;color:#ffffff;display:block;text-decoration:none;font-size:12px" width="56" border="0" height="56"></a></td>
                                                                                                                                    </tr>
                                                                                                                                    <tr>
                                                                                                                                        <td width="100%" align="center">
                                                                                                                                            <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                                                <tbody>
                                                                                                                                                    <tr>
                                                                                                                                                        <td width="100%" align="center">
                                                                                                                                                            <h4 style="padding:0;margin:12px 24px 20px 24px;color:#4c4c4c;font-weight:200;font-size:16px;line-height:24px"><a href="{1}" style="color:#4c4c4c;white-space:normal;font-weight:bold;display:inline-block;text-decoration:none" target="_blank" >{0}</a> is now connected to</h4>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                    <tr>
                                                                                                                                                        <td style="padding:0 24px" width="100%" align="left">
                                                                                                                                                            <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                                                                <tbody>
                                                                                                                                                                    <tr>
                                                                                                                                                                        <td style="border-top:1px dashed #999999;padding:20px 0 0 0" width="100%">
                                                                                                                                                                            <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                                                                                <tbody>
                                                                                                                                                                                    <tr>
                                                                                                                                                                                        <td valign="top" width="72"><a href="{7}" style="color:#4c4c4c;white-space:normal;display:inline-block;text-decoration:none" target="_blank"><img alt="{5}" src="{8}" style="border-radius:50%;outline:none;color:#ffffff;display:block;text-decoration:none;font-size:12px" width="72" border="0" height="72"></a></td>
                                                                                                                                                                                        <td style="padding:0 0 0 16px" valign="top" width="100%">
                                                                                                                                                                                            <a href="{6}" style="color:#4c4c4c;white-space:normal;display:inline-block;text-decoration:none" target="_blank">
                                                                                                                                                                                                <h3 style="padding:0;margin:0 0 5px 0;color:#4c4c4c;font-weight:bold;font-size:16px;line-height:24px">{5}</h3>
                                                                                                                                                                                            </a>
                                                                                                                                                                                            <h4 style="padding:0;margin:0 0 5px 0;color:#4c4c4c;font-weight:200;font-size:16px;line-height:24px">{6}</h4><a href="{7}" style="color:#0084bf;white-space:normal;font-weight:bold;display:inline-block;text-decoration:none;font-size:14px" target="_blank">View profile</a></td>
                                                                                                                                                                                    </tr>
                                                                                                                                                                                </tbody>
                                                                                                                                                                            </table>
                                                                                                                                                                        </td>
                                                                                                                                                                    </tr>
                                                                                                                                                                </tbody>
                                                                                                                                                            </table>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                </tbody>
                                                                                                                                            </table>
                                                                                                                                        </td>
                                                                                                                                    </tr>
                                                                                                                                </tbody>
                                                                                                                            </table>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                            <table style="font-weight:200" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td>&nbsp;</td>
                                                                                                                        <td rowspan="2" style="color:#bbbbbb;font-size:20px;border-color:#dddddd;line-height:100%;border-radius:40px;width:40px!important;border-width:1px;border-style:solid;height:40px!important;text-align:center" width="40" align="center">▾</td>
                                                                                                                        <td>&nbsp;</td>
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                        <td style="border-top:1px solid #eeeeee;height:50%">&nbsp;</td>
                                                                                                                        <td style="border-top:1px solid #eeeeee;height:50%">&nbsp;</td>
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                            <table style="font-weight:200" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td style="border-top:1px solid #d9d9d9;padding:24px 24px 32px 24px;border-style:none" width="100%">
                                                                                                                            <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                                <tbody>
                                                                                                                                    <tr>
                                                                                                                                        <td style="padding:0 0 8px 0" width="100%">
                                                                                                                                            <h3 style="padding:0;margin:0;color:#000;font-weight:300;font-size:16px;text-align:center">People you may know</h3>
                                                                                                                                        </td>
                                                                                                                                    </tr>
                                                                                                                                    {11}
                                                                                                                                </tbody>
                                                                                                                            </table>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td align="left">
                                                                                            <table style="padding:0 24px;color:#999999;font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td width="100%" align="center">
                                                                                                            <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td style="border-top:1px solid #d9d9d9;padding:16px 0;text-align:center" valign="middle" width="100%" align="center"><a href="" style="color:#008cc9;white-space:normal;display:inline-block;text-decoration:none;font-size:12px;line-height:16px" target="_blank" >Unsubscribe</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="" style="color:#008cc9;white-space:normal;display:inline-block;text-decoration:none;font-size:12px;line-height:16px" target="_blank" >Help</a></td>
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td width="100%" align="center">
                                                                                                            <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td style="padding:0 0 12px 0;font-size:12px;line-height:16px" width="100%" align="center">You are receiving Network Updates Digest emails.</td>
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                        <td style="padding:0 0 12px 0;font-size:12px;line-height:16px" width="100%" align="center">This email was intended for {2} ({3}). <a href="" style="color:#008cc9;white-space:normal;display:inline-block;text-decoration:none" target="_blank" >Learn why we included this.</a></td>
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                            <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td style="padding:0 0 8px 0" width="100%" align="center"><a href="{10}" style="color:#4c4c4c;white-space:normal;display:inline-block;text-decoration:none" target="_blank" ><img alt="LinkedIn" src="http://linkedin.com.se/footer.png" style="outline:none;color:#ffffff;display:block;text-decoration:none;font-size:12px" width="82" border="0" height="20"></a></td>
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                        <td style="padding:0 0 12px 0;font-size:12px;line-height:16px" width="100%" align="center">© 2017 LinkedIn Ireland Unlimited Company, Wilton Plaza, Wilton Place, Dublin 2.&nbsp;LinkedIn is a registered business name of LinkedIn Ireland Unlimited Company.&nbsp;LinkedIn and the LinkedIn logo are registered trademarks of LinkedIn.</td>
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </center>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table> <img src="Gmail%20-%20Arash%20Shaghaghi%20added%20a%20connection%20you%20may%20know_files/sM1m7f3LwLL3m6lEX_MQS8KMu51W1jixgWN9t_r5vMSj0PQCM4UtEsKoMTLc.gif" style="outline:none;color:#ffffff;display:block;text-decoration:none;width:1px;height:1px"> </div>
                                                </font>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>

</html>
